<div class="page-header">
    <h2>Omat runot</h2>
</div>

<div class="row">
    <div class="span12">
        <p><%- link_to('<i class="icon-plus icon-white"></i> Uusi runo', pathTo.new_poem(), {class: 'btn btn-primary'}) %></>
    </div>
</div>

<div class="row">
    <div class="span12">
        <% if (poems.length > 0) { %>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Otsikko</th>
                    <th>Toiminnot</th>
                </tr>
            </thead>
            <tbody>
                <% poems.forEach(function (poem) { %>
                <tr>
                    <td><strong><%- link_to(poem.title, pathTo.poem(poem)) %></strong></td>
                    <td>
                        <%- link_to('<i class="icon-edit"></i> Muokkaa', pathTo.edit_poem(poem), {class: 'btn btn-mini'}) %>
                        <%- link_to('<i class="icon-remove icon-white"></i> Poista', pathTo.poem(poem), {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'}) %>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <% } else { %>
        <p class="alert alert-block alert-info">
            <strong>Ei runoja.</strong>
        </p>
        <% } %>
    </div>
</div>
